.gastronomia-body {
    background: url(../img/terraza.jpg);
    background-attachment: scroll;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: black;
  }



.Cabecera{
    background: white;
    opacity: .5;

}
  
  .columna-1{
      
      background: #e1f5fe;
      
  }

  .Columna-der{
   
    background: #e8eaf6;
    
}

.img-articles{
    width: 100%;
    height: 250px;
}

.img-fav{
    width: 100%; 
}

.img-comentario{
    width:100%
}

.comentario-e{
    height: 20PX;
}

